*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Classes Auxiliares*/
.container{
    max-width: 1260px;
    margin:0 auto;
    padding:0 2%;
}
.clear{clear: both;}

/*Classes do meu Site*/
header{
    padding: 8px 0;
    background: rgb(255, 255, 255);
}
.logo{
    float: left;
}
nav.menu-desktop li.selected{font-weight: normal;}

nav.menu-desktop{
    float: right;
}
nav.menu-desktop ul{
    position: relative;
    top: 8px;
}
nav.menu-desktop li{
    padding: 0 10px;
    display: inline-block;
    font-weight: lighter;
}
nav.menu-desktop a{
    color: black;
    text-decoration: none;
}
nav.menu-desktop a:hover{
    text-decoration: underline;
}
/*section main*/
section.main-bg{
    position: relative;
    width: 100%;
    padding: 90px 0 150px 0;
    background-image: url('../img/img-Cybersecurity_OT-Security-a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section.main-bg > .container{
    position: relative;
    z-index: 2;
}
.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
}
section.main-bg h2{
    text-align: center;
    color: #42bbb7;
    font-size: 30px;
    font-weight: normal;
}
section.main-bg p{
    text-align: left;
    color: white;
    font-size: 17px;
    margin-top: 15px;
}