* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*Classes Auxiliares*/
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 2%;
}
.clear {
  clear: both;
}

/*Classes do meu Site*/
header {
  padding: 15px 0;
  background: rgb(255, 255, 255);
}
.logo {
  float: left;
}
nav.menu-desktop li.selected {
  font-weight: bold;
}

nav.menu-desktop {
  float: right;
}
nav.menu-desktop ul {
  position: relative;
  top: 8px;
}
nav.menu-desktop li {
  padding: 0 10px;
  display: inline-block;
  font-weight: normal;
}
nav.menu-desktop a {
  color: black;
  text-decoration: none;
}
nav.menu-desktop a:hover {
  text-decoration: underline;
}
/*section main*/
section.main-bg {
  position: relative;
  width: 100%;
  padding: 90px 0 250px 0;
  background-image: url("../img/img-bloco-notas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section.main-bg > .container {
  top: 30px;
  position: relative;
  z-index: 2;
}
.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
}
section.main-bg h2 {
  text-align: center;
  color: #42bbb7;
  font-size: 40px;
  font-weight: normal;
}
section.main-bg p {
  text-align: center;
  color: white;
  font-size: 22px;
  margin-top: 15px;
}
section.main-bg input {
  position: absolute;
  margin-top: 10%;
  left: 50%;
  padding: 15px 50px;
  border-width: 0;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  background-color: #42bbb7;
}
/*section Nosso Trabalho*/
section.nosso-trabalho {
  padding: 30px 0;
  text-align: center;
}
.line-text {
  position: relative;
  display: inline-block;
  color: #42bbb7;
}
.line-text > div {
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 3px;
  background: #42bbb7;
  transform: translate(-50%, -50%);
}
.line-text h2 {
  font-weight: normal;
  font-size: 27px;
  text-align: center;
}
.incones-nosso-trabalho {
  margin-top: 30px;
}
.box-icone-individual {
  float: left;
  width: 50%;
}
.box-icone-individual h2 i {
  color: #2259a1;
  font-size: 40px;
  padding: 3px;
}
.box-icone-individual h4 {
  padding: 0px 20px;
  text-align: center;
}
.box-icone-individual p {
  padding: 5px 20px;
  text-align: justify;
}
/*Section sobre equipe*/
section.sobre-equipe{
  padding: 30px 0;
  background: rgb(225, 225, 225);
}
section.sobre-equipe > .container{
  display: flex;
  flex-wrap: wrap;
}
.sobre-container{
  width:70%;
}
.sobre-container p{
  color: black;
  text-align: center;
  margin-top: 10px;
}
.equipe-container{  
  width:30%;
  text-align: center;
}
.avatar-box {
  position: relative;
  display: inline-flex;
  margin-top: 10px;
}
.img-avatar{
  display: inline-block;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: 100% 100%;  
}
.descricao-avatar{
  padding: 0 10px;
  display: inline-block;
}
@media screen and (max-width: 500px) {
  .box-icone-individual {
    width: 100%;
  }
  .equipe-container{
    width: 100%;
    margin-top: 30px;
  }
  .sobre-container{
    width:  100%;
  }
}
